div.header
  a(href='/commits/program', class='icon right')
    img(src='/images/program.png', alt='Program')
  a(href='/commits/data', class='icon')
    img(src='/images/data.png', alt='Data')
  h1= title
